.badge {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 8px;
  font-size: 11px;
}

.reconciledBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  margin-top: 5px;
}

.confidenceBadge {
  font-weight: bold;
}